:root {
  /* colors */
  --off-white: #f7f7f7;
  --primary-green: #25e6c8;
  --primary-blue: #2baaec;
  --light-gray: #dedede;
  --just-grey: #bfbfbf;
  --just-black: #363636;
  --light-black: #626262;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: var(--just-black);
}

.top-menu {
  height: 45px;
  border-bottom: 1px solid var(--just-grey);
  font-size: small;
}

.container {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  justify-items: center;
  padding-top: 1.2%;
}

.clock {
  color: var(--light-black);
  width: 50%;
}

.clock i {
  color: var(--primary-blue);
  padding-right: 5px;
  font-size: small;
}

.social-icons {
  width: 50%;
  text-align: end;
}

.social-icons a {
  color: var(--primary-blue);
  padding: 0.5rem;
}

.social-icons a:hover {
  color: var(--primary-green);
  cursor: pointer;
}

.main-menu {
  display: flex;
  height: 140px;

  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.logo img {
  width: 195px;
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 35%;
  text-decoration: none;
  color: black;
}

.navbar a {
  color: var(--just-black);
  text-decoration: none;
}

.showcase {
  height: 500px;
  width: 100%;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
}

.placehold svg {
  height: 470px;
  margin-top: 34px;
}

.showcase_container {
}

.showcase_container h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  font-weight: 400;
}

.showcase_container p {
  margin: 25px 0;
  color: var(--light-black);
  font-size: small;
}

.btn {
  width: 180px;
  height: 45px;
  font-size: small;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--primary-green);
  border: none;
  color: white;
}

/* About-Us */
.aboutUs {
  height: 575px;
  width: 100%;
}

.aboutUs_container {
  height: 500px;
  width: 1050px;
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.aboutUs_content {
  text-align: left;
}

.aboutUs_title {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 3px solid var(--primary-green);
  padding-bottom: 10px;
}

.aboutUs_title span {
  color: var(--primary-blue);
}

.aboutUs_text {
  color: var(--light-black);
  font-size: small;
  padding: 35px 0;
}

.aboutUs_info {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.aboutUs_info h2 {
  color: var(--primary-blue);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.aboutUs_info p {
  font-family: "Roboto Slab", serif;
  color: var(--just-black);
  font-size: smaller;
}
